In [1]:
my_list=[1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
my_list2=['STRING',100,3.25]

In [4]:
my_list2

['STRING', 100, 3.25]

list are ordered sequences of variety of objects.Lists can use indexing and slicing

In [5]:
len(my_list)

3

In [6]:
my_list3 =['one','two','three']

In [7]:
my_list3[0]

'one'

In [9]:
my_list3[1:]

['two', 'three']

In [10]:
another_list=['four',5,6]

In [11]:
my_list3=my_list3+another_list

In [12]:
my_list3

['one', 'two', 'three', 'four', 5, 6]

In [13]:
#difference between strings and lists

In [14]:
my_list3[0]=1

In [15]:
my_list3

[1, 'two', 'three', 'four', 5, 6]

In [16]:
my_list3.append(7)

In [17]:
my_list3

[1, 'two', 'three', 'four', 5, 6, 7]

In [19]:
my_list.count(6)

0

In [21]:
my_list3.pop()

7

In [22]:
my_list3

[1, 'two', 'three', 'four', 5, 6]

In [24]:
my_list3.insert(10,4)

In [26]:
my_list3

[1, 'two', 'three', 'four', 5, 6, 4]

In [27]:
my_list3.insert(7,18)

In [28]:
my_list3

[1, 'two', 'three', 'four', 5, 6, 4, 18]

In [29]:
my_list3.insert(7,17)

In [30]:
my_list3

[1, 'two', 'three', 'four', 5, 6, 4, 17, 18]

In [32]:
my_list3.pop(0)

1

In [33]:
my_list3

['two', 'three', 'four', 5, 6, 4, 17, 18]

In [34]:
my_list3.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [35]:
num_list=[4,1,9,12]

In [36]:
alpha_list=['a','e','c','t','h']

In [37]:
alpha_list.sort()

In [38]:
alpha_list

['a', 'c', 'e', 'h', 't']

In [39]:
num_list.sort()

In [40]:
num_list

[1, 4, 9, 12]

In [41]:
my_sorted_list=num_list.sort()

In [42]:
my_sorted_list

In [43]:
type(my_sorted_list)

NoneType

In [44]:
num_list.sort()
my_sorted_list = num_list

In [45]:
my_sorted_list

[1, 4, 9, 12]

In [46]:
#sorting is in place

In [47]:
num_list.reverse()

In [48]:
num_list

[12, 9, 4, 1]